<!DOCTYPE html>
<html>

<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta content="utf-8" http-equiv="encoding">
	<title>Higher Lower Game</title>
	<link rel="stylesheet" href="css/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="res/js/game.js"></script>
</head>

<body>
	<div id="game">
		<div class="left_image">
			<span id="game_span">
				<div class="left_title">Staples Sustainable Earth 12A Toner Cartridrige</div>
				<div class="left_value"></div>
			</span>
		</div>
		<div class="right_image">
			<span id="game_span">
				<div class="right_title"></div>
				<div class="right_value"></div>
				<div class="buttons">
					<button class="button4" onclick="compareData(this, 'higher')" id="higher_button">Higher ↑</button>
					<button class="button4" onclick="compareData(this, 'lower')" id="lower_button">Lower ↓</button>
				</div>
				<div class="score"></div>
				<div id="score"></div>
			</span>
		</div>
	</div>
	<div id="lose" style = "display: none;">
		<div id="lose_image">
			<span id="lose_span">
				<div class="score" id="lose_score"></div>
				<div class="buttons">
					<a href="/" class="button4" id="return_button">Main Menu</a>
					<a href="/game" class="button4" id="restart_button">Restart</a>
				</div>
			</span>
		</div>
	</div>
</body>

</html>