<!DOCTYPE html>
<html>
    <head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<meta content="utf-8" http-equiv="encoding">
        <title>Higher Lower Game</title>
		<link rel="stylesheet" href="css/styles.css">
		<!-- <script type="text/javascript" src ="res/js/jquery-3.4.1.min.js"></script> -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="res/js/game.js"></script>
    </head>
    <body>
		<div>
			<div class="left_image">
				<span id="game_span">
					<div class="left_title">Staples Sustainable Earth 12A Toner Cartridrige</div>
					<div class="left_value"></div>
				</span>
			</div>
			<div class="right_image">
				<span id="game_span">
					<div class="right_title"></div>
					<div class="right_value"></div>
					<div class="buttons">
						<button class="button4" id="higher_button" onclick="">Higher ↑</button>
						<button class="button4" id="lower_button"  onclick="">Lower ↓</button>
					</div>
					<div class="score"></div>
				</span>
			</div>
		</div>
    </body>
</html>