<!DOCTYPE html>
<html>
    <head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<meta content="utf-8" http-equiv="encoding">
        <title>The Higher Lower Game (Github project)</title>
        <link rel="stylesheet" href="css/styles.css">
	    <!-- <script type="text/javascript" src="res/js/jquery-3.1.0.min.js"></script>
		<script type="text/javascript" src="res/js/main_game.js"></script>
		<link rel="stylesheet" href="res/css/styles.css">
		<link rel="stylesheet" href="res/css/question_btn.css">
		<link rel="stylesheet" href="res/css/main_media_query.css">
		<link rel="stylesheet" href="res/css/index_playgame_button.css"> -->
    </head>
    <body>
		<div>
			<div id="left_image">
				<span>
					<div id="left_title">OKOKOK</div>
					<div id="left_value">420</div>
				</span>
			</div>
			<div id="right_image">
				<span>
					<div id="right_title">OKOKOK</div>
					<div id="right_value">420</div>
				</span>
			</div>
		</div>
    </body>
</html>