<!DOCTYPE html>
<html>
    <head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<meta content="utf-8" http-equiv="encoding">
        <title>Higher Lower Game</title>
		<link rel="stylesheet" href="css/styles.css">
		<!-- <script type="text/javascript" src ="res/js/jquery-3.4.1.min.js"></script> -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</script>
	<script type="text/javascript" src="res/js/game.js"></script>

	    <!-- <script type="text/javascript" src="res/js/jquery-3.1.0.min.js"></script>
		<link rel="stylesheet" href="res/css/styles.css">
		<link rel="stylesheet" href="res/css/question_btn.css">
		<link rel="stylesheet" href="res/css/main_media_query.css">
		<link rel="stylesheet" href="res/css/index_playgame_button.cs s"> -->
    </head>
    <body>
		<div>
			<div id="left_image">
				<span id="game_span">
					<div id="left_title">OKOKOK</div>
					<div id="left_value">420</div>
				</span>
			</div>
			<div id="right_image">
				<span id="game_span">
					<div id="right_title">OKOKOK</div>
					<div id="right_value">420</div>
					<div class="buttons">
						<button class="button4" class="button4" id="higher_button" onclick="">Higher ↑</button>
						<button class="button4" class="button4" id="lower_button"  onclick="">Lower ↓</button>
					</div>
					<div id="score">Score: 100</div>
				</span>
			</div>
		</div>
    </body>
</html>