<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>
    <div id="lose_image">
        <span id="lose_span">
            <div id="lose_score">Score: 100</div>
            <div class="buttons">
                <a href="/menu" class="button4" id="return_button">Main Menu</a>
                <a href="/" class="button4" id="restart_button">Restart</a>
            </div>
        </span>
    </div>
</body>
</html>