<!DOCTYPE html>
<head>
    <title>Menu</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div id="menu_image">
        <span id="menu_span">
            <div id="menu_title">Higher or Lower</div>
            <div id="menu_title" style="font-size: 75px">Eco Edition</div>
            <a href="/game" class="button4" id="menu_button">Start Game</a>
        </span>
    </div>
</body>
</html>